body {
    background-color: black;
    color: white;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

#podcast {
    padding-top: 75px;
    width: 80%;
    margin: 0 auto;
}

#subscribe {
    text-align: center;
}

#email {
    width:200px;
}

#features {
    text-align: justify;
}

.description {
    padding: 25px;
}

#front-end, #intro, #full-stack {
    padding: 20px;
    border: 5px solid grey;
    text-align: center;
    background-image: url(https://wallpaperscraft.com/image/dark_spot_background_texture_50611_1920x1080.jpg);
    height: 300px;
}

.course {
    font-weight: bold;
    font-size: 1.2em;
}

.topics {
    text-align: left;
}


.logo img {
    width: 50px;
    height: 50px;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    padding: 10px;
    margin: auto auto;
}

@media (max-width: 600px) {
  #podcast {
      padding-top: 250px;
  }
}